/deep/cache
/deep/checkpoint
/deep/datasetpre/process/cache
/deep/log/epoch_obj
/deep/seqvec
/deep/prot/prot_t5_xl_half_uniref50-enc
/deep/data/cmap
/deep/data/emb
/deep/data/graph
/deep/data/pssm
/deep/data/temp
/deep/data/dssp
/deep/data/produce/benchmark
/deep/data/produce/cache
/deep/data/produce/csv
/deep/data/produce/db
/deep/data/produce/out
/deep/data/produce/pdb_v4
/deep/data/produce/ptmconverter.exe
/deep/data/protemb
/deep/data/protgraph
/deep/data/seqvecemb
/deep/data/seqvecgraph
/esm/blast/blast-2.14.1+
/esm/model
/esm/model/hub/checkpoints
/esm/out
/MusiteDeep_web/MusiteDeep/log/epoch_obj
/PhosIDN/log/epoch_obj
*.bin
*.h5
/DeepPhos/log/epoch_obj
/DeepPhos/models
/DeepPhos/dataset
/MusiteDeep_web/models
/PhosIDN/models
/mixhop/checkpoint
/carate/log/epoch_obj
/mixhop/log/epoch_obj
/mixhop/datasetpre/process/cache
/carate/checkpoint
/carate/datasetpre/process/cache

.idea